<div class="card primaryCard">
  <div class="card-header">
    Horses | Edit
    <span class="pull-right">
      <a class="btn btn-social-icon" [routerLink]="['/profile/horse-list']">
        <i class="fa fa-window-close" aria-hidden="true"></i>
      </a>
    </span>
  </div>
</div>

<ng-container *ngIf="horse$ | async as horse">

  <div class="card">
    <img class="card-img-top" *ngIf="horse.photoURL" [src]="horse.photoURL" alt="Horse Image: {{horse.displayName}}">
    <div class="card-body">
        <small>Name</small>
        <h6 class="card-title">{{horse.displayName}}</h6>
      <small>Color</small>
      <p class="card-text-group">
          {{horse.color}}
        </p>
        <small>Status</small>
      <p class="card-text-group" *ngIf="horse.status">Alarmed</p>
      <p class="card-text-group" *ngIf="!horse.status">Not Alarmed</p>
    </div>
  </div>

</ng-container>