<ng-container *ngIf="(authService.user | async) || {} as user">
  <ng-container *ngIf="horse$ | async as horse">
    <div class="card primaryCard" style="padding-top: 0 !important; margin-top: 0">

      <div *ngIf="!isNewHorse" class="card-body card-img-bg" [style]="getStyle(horse.photoURL)">
        <a class="btn btn-social-icon pull-right">
          <span [ngClass]="horse.state ? 'active' : 'inactive'">
            <i class="fa fa-circle" aria-hidden="true"></i>
          </span>
        </a>
      </div>
    </div>
    <ng-container *ngIf="!edit">

      <small>Horse</small>
      <h6>{{horse.displayName}}</h6>
      <small>Due Date: </small>
      <span class="inline-small-text"> {{horse.dueDate | date}}</span>
      <small>Foalarm Id: </small>
      <span class="inline-small-text"> {{horse.alarmId}}</span>
      <small>Camera Link: </small>
      <span class="inline-small-text"> {{horse.camera}}</span>

      <button type="button" class="btn btn-primary btn-block" (click)="edit = !edit">Edit Horse</button>

    </ng-container>

    <ng-container *ngIf="edit">

      <form [formGroup]="horseForm" (ngSubmit)="save(user, horse, horse.alarmId)">

        <div class="form-row">

          <div class="form-group col-md-12">
            <small>Horse Name</small>
            <input type="text" class="form-control" formControlName="displayName" [(ngModel)]="horse.displayName" [value]="">
          </div>

          <div class="form-group col-md-12">
            <small>Due Date</small>
            <input type="date" class="form-control" formControlName="dueDate" [(ngModel)]="horse.dueDate" [value]="">
          </div>

          <div class="col-sm-12" *ngIf="!editNumber">
            <div class="form-group">
              <small>Foalarm ID</small>
              <div class="input-group">
                <input type="text" class="form-control" [value]="horse.alarmId" disabled>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary" (click)="editNumber = !editNumber">
                    Edit
                  </button>
                </span>
              </div>
            </div>
          </div>

          <div class="form-group col-md-12" *ngIf="editNumber">
            <small>Foalarm ID</small>
            <app-alarm-select parent="h" (messageEvent)="receiveSelectedOption($event)"></app-alarm-select>
          </div>

          <div class="form-group col-md-12">
            <small>Foaling Camera Url</small>
            <input type="text" class="form-control" formControlName="camera" [(ngModel)]="horse.camera" [value]="">
          </div>
          <div class="form-group col-md-12">
            <small>Horse Image</small>
            <input class="form-control" type="file" (change)="uploadFile(horse, $event)" formControlName="photoURL">
            <br>
            <div *ngIf="!loaded && loading">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100" style="width: 75%"></div>
              </div>
            </div>
            <div *ngIf="loaded && loading" class="alert alert-info">
              Image uploaded successfully
            </div>

            <div *ngIf="!isNewHorse" class="form-inline justify-content-center">
              <div class="input-group">
                <small class="inline-label" (click)="isCollapsed = !isCollapsed">Share</small>
                <div class="form-check">
                  <input [(ngModel)]="horse.isPublic" formControlName="check" (change)="togglePublic(horse.isPublic)" type="checkbox" name="onoffswitch"
                    class="onoffswitch-checkbox" id="myonoffswitch">
                  <!-- [ngModelOptions]="{standalone: true}" -->
                </div>
              </div>
            </div>
            <div [collapse]="!isCollapsed">
              <p class="form-info text-center">
                The horse's name, due date and camera link is made public to all registered Foalarm users. All foaling alerts will be viewable
                by any user reducing the likelihood of a missed alert and foaling.
              </p>
            </div>
          </div>
        </div>

        <button *ngIf="isNewHorse" type="submit" class="btn btn-success btn-block" [disabled]="!horseForm.valid || (loaded===false)">
          Save
        </button>
        <button *ngIf="!isNewHorse" type="submit" class="btn btn-success btn-block" [disabled]="!horseForm.valid">
          Update
        </button>
        <button *ngIf="!isNewHorse" type="button" class="btn btn-danger btn-block" (click)="delete(horse)">
          Delete
        </button>
        <button *ngIf="!isNewHorse" type="button" class="btn btn-primary btn-block" (click)="edit = !edit; editNumber = false">
          Cancel
        </button>

      </form>
    </ng-container>
  </ng-container>
</ng-container>