<div class="col-sm-4 ml-auto mr-auto">
  <div class="card primaryCard">
    <ng-container *ngIf="(authService.user | async) || {} as user">
      <div class="card-header">
        Signup to FOALARM
        <span class="pull-right">
          <a class="btn btn-social-icon text-primary">
            <i *ngIf="!user.uid" class="fa fa-lock"></i>
            <i *ngIf="user.uid" class="fa fa-unlock-alt"></i>
          </a>
        </span>
      </div>
      <div class="card-body">
        <div *ngIf="alertString" class="alert alert-warning alert-dismissible fade show authErrorAlert" role="alert">
          {{alertString}}
        </div>
        <!-- login alert end -->

        <!-- If user is not registered -->
        <form [formGroup]="signupForm" *ngIf="!user.uid" (ngSubmit)="signup()">

          <div class="form-group input-group-sm">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email">

            <div *ngIf="email.invalid && email.dirty">
              Your email doesn't look quite right...
            </div>
          </div>

          <div class="form-group input-group-sm">

            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password">

            <div *ngIf="email.invalid && email.touched">
              Password must be between 6 and 24 chars and have at least one number
            </div>
          </div>

          <div class="text-center" *ngIf="signupForm.valid">
            Form looks good. Time to sign up!
          </div>

          <button type="submit" class="btn btn-success btn-block" [disabled]="!signupForm.valid">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Submit
          </button>

        </form>

        <!-- If user is registered -->
        <form [formGroup]="detailForm" *ngIf="user.uid && !user.foalarm" (ngSubmit)="setFoalarm(user)">
          <div class="alert alert-info">
            You're almost there, but first we require some additional info for your user profile.
          </div>

          <div class="form-group input-group-sm">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" formControlName="fullName">
          </div>

          <div class="form-group input-group-sm">
            <label for="location">Location</label>
            <input type="text" class="form-control" formControlName="location">
          </div>

          <div class="form-group input-group-sm">
            <label for="foalarm">Foalarm Id</label>
            <input type="text" class="form-control" formControlName="foalarm">
          </div>

          <div class="form-group input-group-sm">
            <label for="photoURL">Profile Image</label>
            <input class="form-control" type="file" (change)="uploadFile(user, $event)" formControlName="photoURL">
            <div *ngIf="!loaded && loading">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100" style="width: 75%"></div>
              </div>
            </div>
            <div *ngIf="loaded" class="alert alert-info">
              Uploaded
            </div>

          </div>

          <button type="submit" class="btn btn-success btn-block" [disabled]="!detailForm.valid || (loaded===false)">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Submit
          </button>

        </form>

        <div *ngIf="user.foalarm">
          <p class="card-text-group">
            <img class="img-fluid img-thumbnail" *ngIf="user.photoURL" [src]="user.photoURL" alt="User Image Profile">
          </p>
          <p class="card-text-group">
            <small>Name</small>
            {{user.fullName}}
          </p>
          <p class="card-text-group">
            <small>Email</small>
            {{user.email}}
          </p>
          <p class="card-text-group">
            <small>Foalarm Id</small>
            {{user.foalarm}}
          </p>
          <p class="card-text-group">
            <small>User Id</small>
            {{user.uid}}
          </p>
        </div>
      </div>
      <div class="card-footer text-muted text-center">
        <button class="btn btn-secondary btn-sm" [routerLink]="['/login']">Already registered?</button>
      </div>
      <!-- card body end -->
    </ng-container>
    <!-- ng-container end -->
  </div>
  <!-- card element end -->
</div>