<div class="card primaryCard">
  <ng-container>
    <div class="card-header">
      Horses
      <span class="pull-right">
        <a class="btn btn-social-icon text-primary">
          <i class="fa fa-list"></i>
        </a>
      </span>
    </div>
    <div class="card-body">

      <div class="row">
        <ng-container *ngIf="horseService.horses | async as horses">

          <div class="col-md-4" *ngFor="let horse of horses">
            <div class="card primaryCard">
                <div class="card-header">
                    {{horse.displayName}}
                    <span class="pull-right"> 
                      <a class="btn btn-social-icon text-primary">
                          <span *ngIf="horse.state" class="badge badge-info">On</span>
                          <span *ngIf="!horse.state" class="badge badge-danger">Off</span>
                      </a>
                    </span>
                  </div>
              
              <img class="card-img-top" *ngIf="horse.photoURL" [src]="horse.photoURL" alt="Horse Image: {{horse.displayName}}">
              <div class="card-footer text-muted">
                Link
              </div>
              <!-- card body end -->
              <!-- ng-container end -->
            </div>
            <!-- card element end -->
          </div>

        </ng-container>
      </div>

    </div>
    <!-- card body end -->
  </ng-container>
  <!-- ng-container end -->
</div>
<!-- card element end -->