<div class="card primaryCard">
  <div class="card-header">
    Horses | All
    <span class="pull-right">
      <a class="btn btn-social-icon" (click)="openClientModal('new')">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </a>
    </span>
  </div>
</div>
<!-- heading card element end -->
<div class="row">
  <div class="col-md-4" *ngFor="let horse of horses$ | async">
    <div class="card primaryCard clickable" style="padding-top: 0 !important; margin-top: 0">
      <div class="card-body card-img-bg" [style]="getStyle(horse.photoURL)" (click)="openClientModal(horse.id)">
        <a class="btn btn-social-icon pull-right">
          <span [ngClass]="horse.state ? 'active' : 'inactive'">
            <i class="fa fa-circle" aria-hidden="true"></i>
          </span>
        </a>
      </div>
      <div class="card-body">
        <ng-container *ngIf="horse.camera">
            <a class="btn btn-social-icon pull-right" [routerLink]="['/profile/camera', horse.id]">
              <i class="fa fa-video-camera" aria-hidden="true"></i>
            </a>
        </ng-container>
        <a *ngIf="horse.alarmId!==''" class="btn btn-social-icon pull-right" [routerLink]="['/profile/data/', horse.alarmId]">
          <i class="fa fa-area-chart" aria-hidden="true"></i>
        </a>
        <small>Horse</small>
        <h6 class="card-title" (click)="openClientModal(horse.id)">{{horse.displayName}}</h6>
        <small>Due Date</small>
        <span class="inline-small-text"> {{horse.dueDate | date}}</span>
      </div>
      <!-- card body end -->
      <!-- ng-container end -->
    </div>
    <!-- card element end -->
  </div>
</div>