<div class="card primaryCard">
  <div class="card-header">
    Horses | All
    <span class="pull-right">
      <a class="btn btn-social-icon" [routerLink]="['/profile/horse-edit/new']">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </a>
    </span>
  </div>
</div>
<!-- heading card element end -->

<div class="row">
  <div class="col-md-4" *ngFor="let horse of horses$ | async">
    <div class="card primaryCard" style="padding-top: 0 !important; margin-top: 0">
      <div class="card-body">
          <small>Horse</small>
          <span class="pull-right">
              <a class="btn btn-social-icon">
                <span [ngClass]="horse.state ? 'active' : 'inactive'">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </span>
              </a>
            </span>
          <h6 class="card-title">{{horse.displayName}}</h6>
        </div>
        <!-- card body end -->
      <img class="card-img-top" *ngIf="horse.photoURL" [src]="horse.photoURL" alt="Horse Image: {{horse.displayName}}">
      <div class="card-footer text-muted text-center">
        <a class="btn btn-social-icon">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </a>
        <a class="btn btn-social-icon ">
          <i class="fa fa-video-camera" aria-hidden="true"></i>
        </a>
        <a class="btn btn-social-icon" [routerLink]="['/profile/horse-edit', horse.id]">
          <i class="fa fa-wrench" aria-hidden="true"></i>
        </a>
      </div>
      <!-- card body end -->
      <!-- ng-container end -->
    </div>
    <!-- card element end -->
  </div>
</div>