.card-img-top {
    border-radius: 0;
}

img {
    object-fit: cover;
    height: 8rem;
    width: auto
}

.card .card .card-body {
    padding: .5rem
}
.card-title {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.card-body p {
    color: #c3c3c3;
}
