<div class="col-sm-4 ml-auto mr-auto">
  <div class="card primaryCard">
    <ng-container *ngIf="(authService.user | async) || {} as user">
      <div class="card-header">
        Login to FOALARM
        <span class="pull-right">
          <a class="btn btn-social-icon text-primary">
            <i class="fa fa-lock"></i>
          </a>
        </span>
      </div>
      <div class="card-body">
        <div *ngIf="alertString" class="alert alert-warning alert-dismissible fade show authErrorAlert" role="alert">
          {{alertString}}
        </div>
        <!-- login alert end -->

        <form [formGroup]="loginForm" *ngIf="!user.uid" (ngSubmit)="signin()">

          <div class="form-group input-group-sm">
            <small>Email</small>
            <input type="email" class="form-control" formControlName="email">

            <div *ngIf="email.invalid && email.dirty">
              Your email doesn't look quite right...
            </div>
          </div>

          <div class="form-group input-group-sm">

            <small>Password</small>
            <input type="password" class="form-control" formControlName="password">

            <div *ngIf="email.invalid && email.touched">
            </div>
          </div>

          <div class="text-center" *ngIf="loginForm.valid">
            Form looks good. Time to login!
          </div>
          <br>

          <button type="submit" class="btn btn-success btn-block btn-sm" [disabled]="!loginForm.valid">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Submit
          </button>

        </form>
        <!-- form end -->

        <p *ngIf="user.uid">
<br>
            <button type="submit" class="btn btn-success btn-block btn-sm" [routerLink]="['/profile']">
                Dashboard
              </button>
          
        </p>

      </div>
      <div class="card-footer text-muted text-center">
        <button class="btn btn-secondary btn-sm btn-inline" [routerLink]="['/register']">Register a FOALARM</button>
      </div>
    </ng-container>
  </div>
</div>