<div class="card primaryCard">
  <div class="card-header">
    Users | 
    <button (click)="toggleUserList()" class="btn">

      <ng-container *ngIf="userListView">Show Friends</ng-container>
      <ng-container *ngIf="!userListView">Show All Users</ng-container>
    
    </button>
    <span class="pull-right">
      <small>Filter</small>
      <input name="term" [(ngModel)]="term" style="height: 1.2rem !important" placeholder="Find a user" autocomplete="off">
    </span>
  </div>
</div>
<!-- heading card element end -->

<ng-container *ngIf="userListView">
  <div class="row">
    <div class="col-md-3" *ngFor="let user of users$ | async | filterUser : term">
      <app-user *ngIf="user.uid !== uString" [uid]="user.uid" [user]="uString"></app-user>
      <!-- card element end -->
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!userListView">
  <div class="row">
    <div class="col-md-3" *ngFor="let friend of friends$ | async | filterUser : term">
      <app-user *ngIf="friend.uid !== uString" [uid]="friend.uid" [user]="uString"></app-user>
      <!-- card element end -->
    </div>
  </div>
</ng-container>