input {
    color: dimgray;
    font-size: .8rem;
    width: 100px
}

input::placeholder {
    color: rgb(241, 239, 239)
}

.time-select:hover {
    background-color: whitesmoke;
    cursor: pointer !important
}