<div class="card primaryCard">
  <div class="card-header">
    Cameras | All
  </div>
</div>
<!-- heading card element end -->

<div class="row">
  <ng-container *ngFor="let cam of cams$ | async">
    <ng-container *ngIf="cam.camera">
      <div class="col-md-6">
        <div class="card primaryCard" style="padding-top: 0 !important; margin-top: 0">
          <div class="card-body">
              <span class="pull-right">
                  <a class="btn btn-social-icon" [href]="getSource(cam.camera)">
                    <span>
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="btn btn-social-icon">
                      <span [ngClass]="cam.state ? 'active' : 'inactive'">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                      </span>
                    </a>
                </span>
            <small>Foaling Camera</small>
            <h6 class="card-title">{{cam.displayName}}</h6>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe [src]="getSource(cam.camera)" frameborder="0" encrypted-media allowfullscreen></iframe>
              </div>
          </div>
          <!-- card body end -->
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>