.card-body {
    padding: 1rem
}

.card-body.card-img-bg {
    object-fit: cover;
    height: 16rem;
    width: auto
}

.input-group-sm input {
    height: 1.8rem !important;
    padding-top: 0;
    padding-bottom: 0
}

.inline-label {
    margin-right: 1rem;
}

.form-info {
    padding-top: 1rem;
    font-size: .7rem;
}

.form-inline small {
    text-decoration: underline;
}

.form-inline small:hover {
    cursor: pointer;
}