<div class="card primaryCard">
  <div class="card-header">
    Active Horses
    <span class="pull-right">
      <a class="btn btn-social-icon" (click)="toggleCollapse()">
        <i class="fa fa-caret-square-o-down" aria-hidden="true" *ngIf="!collapse"></i>
        <i class="fa fa-caret-square-o-up" aria-hidden="true" *ngIf="collapse"></i>
      </a>
    </span>
  </div>
</div>
<ng-container *ngIf="collapse">
  <div *ngFor="let horse of activeHorses$ | async">
    <div class="card primaryCard">
      <div class="card-body">
        <small>Horse</small>
        <span class="pull-right">
          <a class="btn btn-social-icon" [href]="horse.camera">
            <span class="inactive">
              <i class="fa fa-video-camera" aria-hidden="true"></i>
            </span>
          </a>
          <a class="btn btn-social-icon">
            <span [ngClass]="horse.state ? 'active' : 'inactive'">
              <i class="fa fa-circle" aria-hidden="true"></i>
            </span>
          </a>
        </span>
        <h6 class="card-title">{{horse.displayName}}</h6>
        <small>Due Date: </small>
        <span class="inline-small-text"> {{horse.dueDate}}</span>

      </div>
      <!-- card body end -->
    </div>
  </div>
</ng-container>