<div class="card primaryCard">
  <div class="card-header">
    Activity
    <span class="pull-right">
      <small>X </small>
      <i class="fa fa-square" aria-hidden="true" style="color: #2c6a87; font-size: 90%"></i>

      <small> Y </small>
      <i class="fa fa-square" aria-hidden="true" style="color: #A10A28; font-size: 90%"></i>

      <small> Z </small>
      <i class="fa fa-square" aria-hidden="true" style="color: #419171; font-size: 90%"></i>

    </span>
  </div>
</div>
<!-- heading card element end -->

<div class="row">
  <div class="col-sm-3" *ngFor="let time of timeframe ">
    <div class="card primaryCard time-select" style="padding-top: 0 !important; margin-top: 0" (click)="unsubscribe(time.value)">
      <div class="card-body text-center">
        <small>View previous {{time.label}} hour(s)</small>
      </div>
      <!-- card body end -->
    </div>
  </div>
</div>

<div class="row chart-container">
  <ngx-charts-line-chart *ngIf="chartdata"  [scheme]="colorScheme" [results]="data" [gradient]="gradient" [xAxis]="showXAxis"
    [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale" (select)="onSelect($event)">
  </ngx-charts-line-chart>
</div>