<div class="card primaryCard">
    <div class="card-header">
      Alerts | All
    </div>
  </div>
  <!-- card element end -->

  <div *ngFor="let alert of alerts$ | async">
      <div class="card primaryCard">
        <div class="card-body">
          <small>Foaling Alert</small>
          <a class="btn btn-social-icon pull-right">
            <span [ngClass]="alert.viewed ? 'inactive' : 'active'">
              <i class="fa fa-circle" aria-hidden="true"></i>
            </span>
          </a>
          <h6 class="card-title">{{alert.horseName}}</h6>
          <small>Date/Time </small>
          <span class="inline-small-text"> {{alert.createdAt | date:'short'}}</span>
        </div>
        <!-- card body end -->
      </div>
    </div>