input {
    color: dimgray;
    font-size: .8rem;
    width: 100px
}

input::placeholder {
    color: rgb(241, 239, 239)
}

.border-alert {
    border-left: 4px solid #d36565 !important
}

.border-alert i { color: #d36565 }
.border-alert i:hover { color: #e70d0d }