<a [routerLink]="['/profile']">
  <div class="card primaryCard card-as-button">
    <div class="card-header">
      <span>
        <i class="fa fa-list" aria-hidden="true"></i>
      </span> 
      <span class="nav-text">
        Horses
      </span>
    </div>
  </div>
</a>

<a [routerLink]="['/profile/alarm-list']">
<div class="card primaryCard card-as-button">
  <div class="card-header">
      <span>
        <i class="fa fa-microchip" aria-hidden="true"></i>
      </span> 
      <span class="nav-text">
        Alarms
      </span>
    </div>
  </div>
</a>

<a [routerLink]="['/profile/camera-list']">
<div class="card primaryCard card-as-button">
  <div class="card-header">
      <span>
        <i class="fa fa-video-camera" aria-hidden="true"></i>
      </span> 
      <span class="nav-text">
          Cameras
      </span>
    </div>
  </div>
</a>

<a [routerLink]="['/profile/alert-edit']">
<div class="card primaryCard card-as-button">
  <div class="card-header">
      <span>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      </span> 
      <span class="nav-text">
        Alerts
      </span>

      <ng-container *ngIf="alerts$ | async as alerts">
        <span *ngIf="alerts.length" class="badge badge-pill badge-danger pull-right">{{alerts.length}}</span>
      </ng-container>

    </div>
  </div>
</a>

<a [routerLink]="['/profile/data']">
  <div class="card primaryCard card-as-button">
    <div class="card-header">
        <span>
          <i class="fa fa-area-chart" aria-hidden="true"></i>
        </span> 
        <span class="nav-text">
          Data
        </span>
      </div>
    </div>
  </a>