<ng-container *ngIf="user$ | async as user">
  <div class="card primaryCard clickable request" style="padding-top: 0 !important; margin-top: 0">
    <div class="card-body">
      <small>Friend Request</small>
      <span class="pull-right">
        <a class="btn btn-social-icon" (click)="addFriend(user.uid, user.fullName)" 
        tooltip="Accept request"
          placement="bottom">
          <span class="inactive">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          </span>
        </a>
      </span>
      <h6 class="card-title">{{user.fullName}}</h6>
    </div>
    <!-- card body end -->
    <!-- ng-container end -->
  </div>
</ng-container>