<div class="card primaryCard">
  <div class="card-header">
    Alarm | Edit
    <span class="pull-right">
      <a class="btn btn-social-icon" [routerLink]="['/profile/alarm-list']">
        <i class="fa fa-window-close" aria-hidden="true"></i>
      </a>
    </span>
  </div>
</div>

<ng-container *ngIf="(authService.user | async) || {} as user">
  <ng-container *ngIf="alarm$ | async as alarm">


      <div class="card primaryCard" style="padding-top: 0 !important; margin-top: 0">

      <div class="card-body">

        <!-- If user is registered -->
        <form [formGroup]="alarmForm" (ngSubmit)="save(user, alarm)">

          <div class="form-row">

            <div class="col-sm-6">
              <div class="form-group input-group-sm">
                <small>Foalarm Name</small>
                <input type="text" class="form-control" formControlName="displayName" [(ngModel)]="alarm.displayName" [value]="">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group input-group-sm">
                <small>Alert Email</small>
                <input type="text" class="form-control" formControlName="emailAddress" [(ngModel)]="alarm.emailAddress" [value]="">
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group input-group-sm">
                <small>Alert SMS Telephone</small>
                <input type="text" class="form-control" [value]="alarm.phone" disabled>
              </div>
              </div>

              <div class="col-sm-8">
              <div class="form-group input-group-sm">
                  <small>Alert SMS Telephone</small>
                <div class="form-row">
                  <div class="col-sm-3">
                    <input type="text" class="form-control" formControlName="country" placeholder="353">
                  </div>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" formControlName="area" placeholder="xx">
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" formControlName="prefix" placeholder="xxx">
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="line" placeholder="xxxx">
                  </div>
                </div>
              </div>
            </div>

          </div>
          <button *ngIf="!isNewAlarm" type="button" class="btn btn-secondary btn-sm pull-right" (click)="delete(alarm)">
            <i class="fa fa-trash-o fa-lg"></i>
          </button>
          <button type="submit" class="btn btn-success btn-sm" [disabled]="!alarmForm.valid">
            <i class="fa fa-floppy-o"></i> Save
          </button>

        </form>

      </div>
    </div>

  </ng-container>
</ng-container>