<div class="card primaryCard">
  <div class="card-header">
    Alarm | Edit
    <span class="pull-right">
      <a class="btn btn-social-icon" [routerLink]="['/profile/alarm-list']">
        <i class="fa fa-window-close" aria-hidden="true"></i>
      </a>
    </span>
  </div>
</div>

<ng-container *ngIf="(authService.user | async) || {} as user">
  <ng-container *ngIf="alarm$ | async as alarm">


    <div class="card">
      <div class="card-body">

        <!-- If user is registered -->
        <form [formGroup]="alarmForm" (ngSubmit)="save(user, alarm)">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group input-group-sm">
                <label for="displayName">Name</label>
                <input type="text" class="form-control" formControlName="displayName" [(ngModel)]="alarm.displayName" [value]="alarm.displayName">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group input-group-sm">
                <label for="email">Email</label>
                <input type="text" class="form-control" formControlName="emailAddress" [(ngModel)]="alarm.emailAddress" [value]="alarm.emailAddress">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group input-group-sm">
                <label for="phone">SMS Alert Contact</label>
                <input type="text" class="form-control" [value]="alarm.phone" disabled>
              </div>

              <div class="form-group input-group-sm">
                <label for="country">Set SMS Alert Contact</label>
                <div class="row">
                  <div class="col-sm-3">
                    <input type="text" class="form-control" formControlName="country" placeholder="353">
                  </div>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" formControlName="area" placeholder="86">
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" formControlName="prefix" placeholder="111">
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="line" placeholder="1111">
                  </div>
                </div>
              </div>

            </div>
          </div>
          <button *ngIf="!isNewAlarm" type="button" class="btn btn-danger btn-sm pull-right" (click)="delete(alarm)">
            <i class="fa fa-trash-o fa-lg"></i>
          </button>
          <button type="submit" class="btn btn-success btn-sm pull-right" [disabled]="!alarmForm.valid">
            <i class="fa fa-floppy-o"></i>
          </button>

        </form>

      </div>
    </div>

  </ng-container>
</ng-container>