<div class="card primaryCard">
  <ng-container *ngIf="(authService.user | async) || {} as user">
    <div class="card-header">
      User Profile
      <span class="pull-right">
        <a class="btn btn-social-icon text-primary">
          <i *ngIf="user.uid" class="fa fa-unlock-alt"></i>
        </a>
      </span>
    </div>
    <div class="card-body">
      <p class="card-text-group">
        <img class="img-fluid img-thumbnail" *ngIf="user.photoURL" [src]="user.photoURL" alt="User Image Profile">
      </p>
      <p class="card-text-group">
        <small>Name</small>
        {{user.fullName}}
      </p>
      <p class="card-text-group">
        <small>Email</small>
        {{user.email}}
      </p>
      <p class="card-text-group">
        <small>Foalarm Id</small>
        {{user.foalarm}}
      </p>
      <p class="card-text-group">
        <small>User Id</small>
        {{user.uid}}
      </p>
    </div>
    <!-- card body end -->
  </ng-container>
  <!-- ng-container end -->
</div>
<!-- card element end -->