<ng-container *ngIf="(authService.user | async) || {} as user">
    <div class="card primaryCard">
    <!-- <img class="card-img-top" *ngIf="user.photoURL" [src]="user.photoURL" alt="User Image Profile"> -->      
      <div class="card-body">
        <small>Name</small>
        <h6 class="card-title">{{user.fullName}} <span class="badge badge-info bg-blue"></span></h6>
        <small>Email</small><span class="inline-small-text"> {{user.email}}</span>
        <small>Location</small><span class="inline-small-text"> {{user.location}}</span>
      </div>
      <!-- card body end -->
      <!-- ng-container end -->
    </div>
</ng-container>