<router-outlet>

</router-outlet>

<div class="navbar bg-blue">
    <div class="container-fluid d-flex justify-content-between">
        <a href="#" class="navbar-brand">
            FOALARM
        </a>
        <div class="row">
            <div *ngIf="!(user | async) ?.uid">
                <!-- if no uid property show login button -->
                <button type="button" class="navbar-toggler" [routerLink]="['/login']">
                    <span>
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                    </span> Login</button>
            </div>
            <div *ngIf="(user | async) ?.uid">
                <button type="button" class="navbar-toggler" [routerLink]="['/profile']">Horses</button>
                <button type="button" class="navbar-toggler" [routerLink]="['/profile/alarm-list']">Alarms</button>
                <button type="button" class="navbar-toggler" (click)="authService.signOut()">
                    <span>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </span> Logout</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid app-content">
    <div class="col-sm-12">
        <!-- User profile side bar -->
        <!-- Routes -->
        <router-outlet></router-outlet>
    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
        <span class="pull-left logo">FOALARM</span>
        <small>&nbsp;
            <a [routerLink]="['/admin']">&copy;</a>
        </small>
        <span class="pull-right">
            <a class="btn btn-social-icon" [routerLink]="['/about']">
                <span class="fa fa-info-circle"></span>
            </a>
            <a class="btn btn-social-icon" href="https://github.com/Kelly-David/Foalarm" target="_blank">
                <span class="fa fa-github"></span>
            </a>
            <a class="btn btn-social-icon">
                <span class="fa fa-facebook"></span>
            </a>
            <a class="btn btn-social-icon">
                <span class="fa fa-twitter"></span>
            </a>
        </span>
    </div>
</footer>