/*
 * @Author: David Kelly
 * @Date: 2017-10-26 14:58:28
 * @Last Modified time: 2017-10-26 14:58:28
 */
 
.nav-buttons {
    width: 100%;
}

.footer .container-fluid .logo {
    font-family: 'Quantify', sans-serif;
    margin-left: 1rem;
}

.footer {
    color: #c3c3c3;
}

.footer a {
    color: #c3c3c3;
}
