<div class="card primaryCard">
  <div class="card-header">
    Alarms | All
    <span class="pull-right">
      <a class="btn btn-social-icon" [routerLink]="['/profile/alarm-edit/new']">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </a>
    </span>
  </div>
</div>
<!-- card element end -->

<div class="row">
  <div class="col-md-6" *ngFor="let alarm of alarms$ | async">
    <div class="card primaryCard" style="padding-top: 0 !important; margin-top: 0">
      <div class="card-body">
        <small>Alarm</small>
        <a class="btn btn-social-icon pull-right">
          <span [ngClass]="alarm.state ? 'active' : 'inactive'">
            <i class="fa fa-circle" aria-hidden="true"></i>
          </span>
        </a>
        <a class="btn btn-social-icon pull-right" [routerLink]="['/profile/alarm-edit', alarm.id]">
          <i class="fa fa-wrench" aria-hidden="true"></i>
        </a>
        <h6 class="card-title">{{alarm.displayName}}</h6>
        <small>Phone: </small>
        <span class="inline-small-text"> {{alarm.phone}}</span>
        <small>Email: </small>
        <span class="inline-small-text"> {{alarm.emailAddress}}</span>
        <small>ID: </small>
        <span class="inline-small-text"> {{alarm.id}}</span>

      </div>
      <!-- card body end -->
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" (click)="openClientModal()">New Client</button> 