<div class="card primaryCard">
  <ng-container>
    <div class="card-header">
      Horses
      <span class="pull-right">
        <a class="btn btn-social-icon text-primary">
        </a>
      </span>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-md-4" *ngFor="let item of horses">
          <div class="card primaryCard">
            <div class="card-body">
              <p>A Horse Element!</p>
            </div>
            <!-- card body end -->
          </div>
          <!-- card element end -->
        </div>
      </div>

    </div>
    <!-- card body end -->
  </ng-container>
  <!-- ng-container end -->
</div>
<!-- card element end -->